:root {
    --color-black: #101010;
    --color-white: #ffffff;
    --color-blue: #1a7d8e;
    --color-yellow: #e2a32d;
    --color-green: #7faa6c;
    --color-red: #ba5912;
    --color-light-gray: #dddddd;
    --color-dark-gray: #233239;

    --font-main: "Palatino-Linotype";
    --font-typewriter: "Computer-Modern-Typewriter";
}
