body {
    --color-black: #101010;
    --color-white: #ffffff;
    --color-blue: #1a7d8e;
    --color-yellow: #e2a32d;
    --color-green: #4a7f34;
    --color-red: #ba5912;
    --color-light-gray: #dddddd;
    --color-gray: #7f7f7f;
    --color-dark-gray: #233239;
    --color-light-green: #a6f385;
    --color-light-red: #eb8740;

    --color-background: #fcfcfc;
    --color-button: #dddddd;
    --color-button-hover: #cccccc;
    --color-nav-background: var(--color-light-gray); //#1a7d8e7f; //#b5d4da;
    --color-footer-background: var(--color-light-gray); //#1a7d8e7f; //#b5d4da;
    --color-text: var(--color-black);
    --color-text-inverted: var(--color-white);
    --color-anchor: var(--color-blue);

    --color-focus-background: #1a7d8e66;
    --color-hover-background: rgba(127, 127, 127, 0.12);

    --font-main: "Palatino-Linotype";
    --font-typewriter: "Computer-Modern-Typewriter";

    --color-background-input: white;
    --box-shadow-input: 0px 0px 5px rgba(0, 0, 0, 0.12);
    --border-input: 1px solid rgba(0, 0, 0, 0.125);

    --background-image-theme: url("../img/moon.png");
}

body.dark {
    --color-black: #101010;
    --color-white: #e2e2e2;
    --color-blue: #0a4f5a;
    --color-yellow: #e2a32d;
    --color-green: #a6f385;
    --color-red: #eb8740;
    --color-light-gray: #dddddd;
    --color-gray: #7f7f7f;
    --color-dark-gray: #233239;
    --color-light-green: #a6f385;
    --color-light-red: #eb8740;

    --color-background: #242424;
    --color-button: var(--color-background-input);
    --color-button-hover: #696969;
    --color-nav-background: #323232; // var(--color-button); //#1a7d8e7f; //#b5d4da;
    --color-footer-background: #323232; // var(--color-button); //#1a7d8e7f; //#b5d4da;
    --color-text: var(--color-white);
    --color-text-inverted: var(--color-white);
    --color-anchor: #77c7d3;

    --color-focus-background: #1a7d8e66;
    --color-hover-background: rgba(127, 127, 127, 0.12);

    --font-main: "Palatino-Linotype";
    --font-typewriter: "Computer-Modern-Typewriter";

    --color-background-input: #525252;
    --box-shadow-input: 0px 0px 5px rgba(255, 255, 255, 0.12);
    --border-input: 1px solid rgba(255, 255, 255, 0.125);

    --filter-invert-dark-theme: invert(1);

    --background-image-theme: url("../img/sun.png");
}
