span.comment {
    color: gray;
}

.tt {
    // background-color: var(--color-light-gray);
    // color: var(--color-dark-gray);
    // padding: 0.1em 0.2em;
    // margin: 0em 0.2em;
    font-family: var(--font-typewriter);
    text-decoration: none;
}

span.title {
    display: block;
    font-size: 1.5rem;
    margin: 24px 0px;
    text-align: center;

    .subtitle {
        display: block;
        font-size: 1rem;
        color: var(--color-gray);
    }
}

span.invalid {
    color: var(--color-red);
}

a {
    color: var(--color-anchor);
    text-decoration: underline;

    // position: relative;
    // span.katex::before {
    //     content: "";
    //     display: block;
    //     background-color: var(--color-blue);
    //     height: 1px;
    //     position: absolute;
    //     bottom: 2px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 100%;
    // }
}

button {
    // height: 32px;
    border-radius: 4px;
    background-color: var(--color-button);
    color: var(--color-text);
    // box-shadow: var(--box-shadow-input);
    border: var(--border-input);
    box-sizing: border-box;
    padding: 4px 12px;
    line-height: 24px;
    font-family: var(--font-main);
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.2s;
    // color 0.2s;
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-hover);
    }
}

span.katex {
    font-size: inherit; // same font size as parent
}

li {
    margin: 8px 0px;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

    td,
    th {
        padding: 8px;
        border: var(--border-input); // 1px solid var(--color-black);
        text-align: center;
    }

    th {
        font-variant: small-caps;
        background-color: var(--color-blue);
        color: var(--color-white);
    }

    tr:nth-child(2n + 1) {
        background-color: var(--color-hover-background);
    }

    tr:nth-child(2n) {
        background-color: var(--color-background);
    }

    td.true {
        color: var(--color-green);
    }

    td.false {
        color: var(--color-red);
    }

    td.unknown {
        color: var(--color-gray);
    }
}

select {
    border-radius: 4px;
    border: var(--border-input);
    box-shadow: var(--box-shadow-input);
    box-sizing: border-box;
    background-color: var(--color-background-input);
    font-family: var(--font-main);
    color: var(--color-text);

    &::after {
        content: '';
    }
}

input[type="text"] {
    border: var(--border-input);
    box-shadow: var(--box-shadow-input);
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    box-sizing: border-box;
    background-color: var(--color-background-input);
    color: var(--color-text);
}

p {
    text-align: justify;
}

.hidden {
    display: none;
}

.row-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 16px 0px;

    button {
        min-width: 128px;
    }
}

.loading {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    opacity: 0;
    background-color: var(--color-text);
    animation: loading 0.8s infinite;
    animation-delay: 0.2s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

@keyframes loading {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

ol {
    padding-left: 8px;
    list-style-position: inside;

    li::marker {
        color: var(--color-gray);
    }
}

.center {
    text-align: center;
}
