span.comment {
    color: gray;
}

span.tt {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    padding: 0.1em 0.2em;
    margin: 0em 0.2em;
    font-family: var(--font-typewriter);
    text-decoration: none;
}

span.title {
    display: block;
    font-size: 1.5rem;
    margin: 24px 0px;
    text-align: center;
}

a {
    color: var(--color-blue);
    text-decoration: underline;

    // position: relative;
    // span.katex::before {
    //     content: "";
    //     display: block;
    //     background-color: var(--color-blue);
    //     height: 1px;
    //     position: absolute;
    //     bottom: 2px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 100%;
    // }
}

button {
    min-width: 120px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0px 8px;
    line-height: 32px;
    font-family: var(--font-main);
    font-size: 1rem;
    background-color: var(--color-button);
    text-align: center;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-hover);
    }
}

span.katex {
    font-size: inherit; // same font size as parent
}

li {
    margin: 8px 0px;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

    td,
    th {
        padding: 8px;
        border: 1px solid var(--color-black);
        text-align: center;
    }

    th {
        font-variant: small-caps;
        background-color: var(--color-blue);
        color: var(--color-white);
    }

    tr:nth-child(2n + 1) {
        background-color: var(--color-hover-background);
    }

    tr:nth-child(2n) {
        background-color: var(--color-background);
    }
}

select {
    border-radius: 4px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: var(--color-white);
    font-family: var(--font-main);
    font-size: inherit;
}

input[type="text"] {
    border: 1px solid black;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    box-sizing: border-box;
}
