@use "colors";
@use "fonts";
@use "general";

@use "page-home";
@use "page-example";
@use "page-explore";
@use "page-theorem";
@use "page-data";
@use "page-graph";

body {
    margin: 0;
    font-family: var(--font-main);
    font-size: 1rem;
    background-color: var(--color-background);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-input);
    border-bottom: var(--border-input);
    background-color: var(--color-nav-background);

    button {
        display: block;
        flex-grow: 1;
        max-width: 128px;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        color: var(--color-text);
        text-align: center;
        height: 100%;
        line-height: 100%;
        padding: 0px 8px;

        &:hover {
            background-color: transparent; // overwrites general button style
        }

        &.selected {
            background-color: var(--color-blue);
            color: var(--color-text-inverted);
        }
    }

    #button-theme {
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background-image: var(--background-image-theme);
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        opacity: 0.25;
        transition: opacity 0.2s;
        cursor: pointer;

        &:hover {
            opacity: 0.67;
        }
    }
}

#button-home {
    max-width: 48px;
    padding: 0px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url("../img/icon.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12));

    &.selected {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.24));
    }
}

.page {
    margin: auto;
    max-width: 960px;
    padding: 0px 4px;
    margin-bottom: 16px;
}

.page-home,
.page-help,
.page-contribute {
    p,
    ul,
    ol {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-footer-background);
    opacity: 0.4;

    a {
        color: currentcolor;
    }

    img {
        width: 1.1em;
        height: 1.1em;
        vertical-align: middle;
        position: relative;
        top: -2px;
        margin-right: 2px;
        filter: var(--filter-invert-dark-theme);
    }
}
