@use "colors";
@use "fonts";
@use "general";

@use "page-example";
@use "page-explore";

body {
    margin: 0;
    font-family: var(--font-main);
    font-size: 1rem;
    background-color: var(--color-background);
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-gray);

    button {
        display: block;
        flex-grow: 1;
        max-width: 128px;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        color: var(--color-white);
        text-align: center;
        height: 48px;
        line-height: 48px;
        padding: 0px 8px;

        &:hover {
            background-color: var(--color-hover-background);
        }
    }

    .logo {
        background-color: #1a7d8e;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: 0px 16px;
    }
}

.page {
    margin: auto;
    max-width: 960px;
}
