@use "colors";
@use "fonts";
@use "general";

@use "page-example";
@use "page-explore";
@use "page-theorem";
@use "page-data";

body {
    margin: 0;
    font-family: var(--font-main);
    font-size: 1rem;
    background-color: var(--color-background);
}

nav {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-nav-background);

    button {
        display: block;
        flex-grow: 1;
        max-width: 128px;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        color: var(--color-text);
        text-align: center;
        height: 100%;
        line-height: 100%;
        padding: 0px 8px;

        &:hover {
            background-color: transparent; // overwrites general button style
        }

        &.selected {
            background-color: var(--color-blue);
            color: var(--color-text-inverted);
        }
    }
}

#button-home {
    max-width: 48px;
    padding: 0px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url("../img/icon.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12));
    transition: filter 0.2;

    &.selected {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1.0));
    }
}

.page {
    margin: auto;
    max-width: 960px;
    padding: 0px 4px;
}
