.page-explore {
    padding: 0px !important;

    .type-selection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        font-size: 1.4rem;
        line-height: 40px;
        padding: 20px 0px;

        span {
            margin-left: auto;
        }

        select {
            height: 40px;
            padding-left: 8px;
            margin-right: auto;
            font-size: 1rem;
        }

        a.help {
            margin-right: 8px;
            font-size: 1rem;
            font-variant: small-caps;
        }
    }

    .context {
        display: flex;
        flex-direction: row;
        max-height: 512px;
        max-width: 100%;
        border-top: var(--border-input);
        border-bottom: var(--border-input);
        // border: 1px solid black;

        .column-objects,
        .column-adjectives {
            flex-grow: 1;
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .column-adjectives {
            border-left: var(--border-input);
            overflow-y: scroll;

            > div {
                padding: 0px 0px 0px 8px;
                line-height: 30px;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-hover-background);
                }

                label {
                    flex-grow: 1;
                    display: flex;
                    transition: background-color 0.2s;
                    cursor: pointer;

                    &::before {
                        content: "";
                        display: block;
                        min-width: 20px;
                        width: 20px;
                        height: 20px;
                        margin: 5px 8px 2px 2px;
                        border-radius: 2px;
                        // border: 1px solid black;
                        border: var(--border-input);
                        box-shadow: var(--box-shadow-input);
                        box-sizing: border-box;
                        background-color: white;
                        background-size: 67%;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                &.yes label::before {
                    background-image: url("../img/check.png");
                }

                &.no label::before {
                    background-image: url("../img/cross.png");
                }
            }
        }

        .column-objects {
            > div {
                text-align: center;
                min-height: 24px;
                padding: 8px 40px 8px 8px;
                transition: background-color 0.2s;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-hover-background);
                }

                &.selected {
                    background-color: var(--color-blue);
                    color: var(--color-text-inverted);

                    .adjectives {
                        color: var(--color-light-gray);

                        .yes {
                            color: var(--color-light-green);
                        }

                        .no {
                            color: var(--color-light-red);
                        }
                    }
                }

                .type,
                .id {
                    display: none;
                }

                .name {
                    // nothing special here ...
                }

                .adjectives {
                    color: var(--color-gray);
                    padding-left: 8px;

                    .yes {
                        color: var(--color-green);
                    }

                    .no {
                        color: var(--color-red);

                        &::before {
                            content: "not ";
                        }
                    }

                    &:not(:empty)::after {
                        content: ")";
                    }
                    &:not(:empty)::before {
                        content: "(";
                    }
                }
            }
        }
    }

    .row-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin: 16px 0px;
    }

    .results {
        padding: 0px 4px;

        .result {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
        }

        p {
            text-align: center;
        }

        table {
            margin-bottom: 16px;
        }
    }
}

// Pre-load some images
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1; // hide images
    content: url("../img/cross.png") url("../img/check.png");
}
