.page-example {
    margin: auto;
    max-width: 960px;
}

table.adjectives {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

    td,
    th {
        padding: 8px;
        border: 1px solid;
        text-align: center;
    }

    th {
        font-variant: small-caps;
    }
}
