.page-example {
    .arguments {
        display: block;
        text-align: center;
        color: var(--color-gray);
    }

    table.adjectives {
        th:first-child {
            min-width: 20%;
        }
    }
}
