.page-explore {
    .type-selection {
        text-align: center;
        font-size: 1.5rem;
        height: 64px;
        line-height: 64px;

        select {
            // height: 32px;
            padding: 2px 8px;
        }
    }

    .context {
        display: flex;
        flex-direction: row;
        max-height: 512px;
        max-width: 100%;
        // border-top: 1px solid rgba(0, 0, 0, 0.12);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border: 1px solid black;

        .column-objects,
        .column-adjectives {
            flex-grow: 1;
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .column-adjectives {
            border-left: 1px solid black; // rgba(0, 0, 0, 0.12);
            overflow-y: scroll;

            > div {
                padding: 0px 0px 0px 8px;
                line-height: 30px;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-hover-background);
                }

                label {
                    flex-grow: 1;
                    display: flex;
                    transition: background-color 0.2s;
                    cursor: pointer;

                    &::before {
                        content: "";
                        display: block;
                        min-width: 20px;
                        width: 20px;
                        height: 20px;
                        margin: 5px 8px 2px 2px;
                        border-radius: 2px;
                        border: 1px solid black;
                        box-sizing: border-box;
                        // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
                        background-color: white;
                        background-size: 67%;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                &.yes label::before {
                    background-image: url("../img/check.png");
                }

                &.no label::before {
                    background-image: url("../img/cross.png");
                }
            }
        }

        .column-objects {
            > div {
                text-align: center;
                min-height: 24px;
                padding: 8px 40px 8px 8px;
                transition: background-color 0.2s;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-hover-background);
                }

                &.selected {
                    background-color: var(--color-focus-background);
                }

                .type,
                .id {
                    display: none;
                }

                .name {
                    // nothing special here ...
                }

                .adjectives {
                    color: var(--color-gray);
                    padding-left: 8px;

                    .yes {
                        color: var(--color-green);
                    }

                    .no {
                        color: var(--color-red);

                        &::before {
                            content: "not ";
                        }
                    }

                    &:not(:empty)::after {
                        content: ")";
                    }
                    &:not(:empty)::before {
                        content: "(";
                    }
                }
            }
        }
    }

    .row-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        height: 64px;
    }

    .results {
        display: flex;
        flex-direction: column;

        .result {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
        }

        p {
            text-align: center;
        }

        table {
            margin-bottom: 16px;
        }
    }
}
