body {
  --color-black: #101010;
  --color-white: #ffffff;
  --color-blue: #1a7d8e;
  --color-yellow: #e2a32d;
  --color-green: #4a7f34;
  --color-red: #ba5912;
  --color-light-gray: #dddddd;
  --color-gray: #7f7f7f;
  --color-dark-gray: #233239;
  --color-light-green: #a6f385;
  --color-light-red: #eb8740;
  --color-background: #fcfcfc;
  --color-button: #dddddd;
  --color-button-hover: #cccccc;
  --color-nav-background: var(--color-light-gray);
  --color-footer-background: var(--color-light-gray);
  --color-text: var(--color-black);
  --color-text-inverted: var(--color-white);
  --color-anchor: var(--color-blue);
  --color-focus-background: #1a7d8e66;
  --color-hover-background: rgba(127, 127, 127, 0.12);
  --font-main: "Palatino-Linotype";
  --font-typewriter: "Computer-Modern-Typewriter";
  --color-background-input: white;
  --box-shadow-input: 0px 0px 5px rgba(0, 0, 0, 0.12);
  --border-input: 1px solid rgba(0, 0, 0, 0.125);
  --background-image-theme: url("../img/moon.png");
}

body.dark {
  --color-black: #101010;
  --color-white: #e2e2e2;
  --color-blue: #0a4f5a;
  --color-yellow: #e2a32d;
  --color-green: #a6f385;
  --color-red: #eb8740;
  --color-light-gray: #dddddd;
  --color-gray: #7f7f7f;
  --color-dark-gray: #233239;
  --color-light-green: #a6f385;
  --color-light-red: #eb8740;
  --color-background: #242424;
  --color-button: var(--color-background-input);
  --color-button-hover: #696969;
  --color-nav-background: #323232;
  --color-footer-background: #323232;
  --color-text: var(--color-white);
  --color-text-inverted: var(--color-white);
  --color-anchor: #77c7d3;
  --color-focus-background: #1a7d8e66;
  --color-hover-background: rgba(127, 127, 127, 0.12);
  --font-main: "Palatino-Linotype";
  --font-typewriter: "Computer-Modern-Typewriter";
  --color-background-input: #525252;
  --box-shadow-input: 0px 0px 5px rgba(255, 255, 255, 0.12);
  --border-input: 1px solid rgba(255, 255, 255, 0.125);
  --filter-invert-dark-theme: invert(1);
  --background-image-theme: url("../img/sun.png");
}

@font-face {
  font-family: "Palatino-Linotype";
  src: url("../fonts/pala.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Palatino-Linotype";
  src: url("../fonts/palab.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Palatino-Linotype";
  src: url("../fonts/palai.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Palatino-Linotype";
  src: url("../fonts/palabi.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Computer-Modern-Typewriter";
  src: url("../fonts/cmuntb.ttf");
}
span.comment {
  color: gray;
}

.tt {
  font-family: var(--font-typewriter);
  text-decoration: none;
}

span.title {
  display: block;
  font-size: 1.5rem;
  margin: 24px 0px;
  text-align: center;
}
span.title .subtitle {
  display: block;
  font-size: 1rem;
  color: var(--color-gray);
}

span.invalid {
  color: var(--color-red);
}

a {
  color: var(--color-anchor);
  text-decoration: underline;
}

button {
  border-radius: 4px;
  background-color: var(--color-button);
  color: var(--color-text);
  border: var(--border-input);
  box-sizing: border-box;
  padding: 4px 12px;
  line-height: 24px;
  font-family: var(--font-main);
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.2s;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-button-hover);
}

span.katex {
  font-size: inherit;
}

li {
  margin: 8px 0px;
  padding-left: 2px;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}
table td,
table th {
  padding: 8px;
  border: var(--border-input);
  text-align: center;
}
table th {
  font-variant: small-caps;
  background-color: var(--color-blue);
  color: var(--color-white);
}
table tr:nth-child(2n+1) {
  background-color: var(--color-hover-background);
}
table tr:nth-child(2n) {
  background-color: var(--color-background);
}
table td.true {
  color: var(--color-green);
}
table td.false {
  color: var(--color-red);
}
table td.unknown {
  color: var(--color-gray);
}

select {
  border-radius: 4px;
  border: var(--border-input);
  box-shadow: var(--box-shadow-input);
  box-sizing: border-box;
  background-color: var(--color-background-input);
  font-family: var(--font-main);
  color: var(--color-text);
}
select::after {
  content: "";
}

input[type=text] {
  border: var(--border-input);
  box-shadow: var(--box-shadow-input);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  box-sizing: border-box;
  background-color: var(--color-background-input);
  color: var(--color-text);
}

p {
  text-align: justify;
}

.hidden {
  display: none;
}

.row-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 16px 0px;
}
.row-buttons button {
  min-width: 128px;
}

.loading {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  opacity: 0;
  background-color: var(--color-text);
  animation: loading 0.8s infinite;
  animation-delay: 0.2s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
ol {
  padding-left: 32px;
}
ol li::marker {
  color: var(--color-gray);
}
ol ol {
  list-style-type: lower-roman;
}

.center {
  text-align: center;
}

.page-home button {
  margin: 8px 0px;
}

.page-example .arguments {
  display: block;
  text-align: center;
  color: var(--color-gray);
}
.page-example table.adjectives th:first-child {
  min-width: 20%;
}
.page-example table.adjectives th:nth-child(2) {
  min-width: 10%;
}

.page-explore {
  padding: 0px !important;
}
.page-explore .type-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1.4rem;
  line-height: 40px;
  padding: 20px 0px;
}
.page-explore .type-selection span {
  margin-left: auto;
}
.page-explore .type-selection label {
  position: relative;
  margin-right: auto;
}
.page-explore .type-selection label select {
  appearance: none;
  height: 40px;
  padding-left: 8px;
  font-size: 1rem;
  padding-right: 28px;
}
.page-explore .type-selection label::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 14px;
  border: solid var(--color-text);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.page-explore .type-selection a.help {
  margin-right: 8px;
  font-size: 1rem;
  font-variant: small-caps;
}
.page-explore .context {
  display: flex;
  flex-direction: row;
  max-height: 512px;
  max-width: 100%;
  border-top: var(--border-input);
  border-bottom: var(--border-input);
}
.page-explore .context .column-objects,
.page-explore .context .column-adjectives {
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.page-explore .context .column-adjectives {
  border-left: var(--border-input);
  overflow-y: scroll;
}
.page-explore .context .column-adjectives > div {
  padding: 0px 0px 0px 8px;
  line-height: 30px;
  cursor: pointer;
}
.page-explore .context .column-adjectives > div:hover {
  background-color: var(--color-hover-background);
}
.page-explore .context .column-adjectives > div label {
  flex-grow: 1;
  display: flex;
  transition: background-color 0.2s;
  cursor: pointer;
}
.page-explore .context .column-adjectives > div label::before {
  content: "";
  display: block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin: 5px 8px 2px 2px;
  border-radius: 2px;
  border: var(--border-input);
  box-shadow: var(--box-shadow-input);
  box-sizing: border-box;
  background-color: var(--color-background-input);
  background-size: 67%;
  background-position: center;
  background-repeat: no-repeat;
}
.page-explore .context .column-adjectives > div.yes {
  color: var(--color-green);
}
.page-explore .context .column-adjectives > div.yes label::before {
  background-image: url("../img/check.png");
  filter: var(--filter-invert-dark-theme);
}
.page-explore .context .column-adjectives > div.no {
  color: var(--color-red);
}
.page-explore .context .column-adjectives > div.no label::before {
  background-image: url("../img/cross.png");
  filter: var(--filter-invert-dark-theme);
}
.page-explore .context .column-objects > div {
  text-align: center;
  min-height: 24px;
  line-height: 24px;
  padding: 8px 40px 8px 8px;
  transition: background-color 0.2s;
  position: relative;
  cursor: pointer;
}
.page-explore .context .column-objects > div:hover {
  background-color: var(--color-hover-background);
}
.page-explore .context .column-objects > div.selected {
  background-color: var(--color-blue);
  color: var(--color-text-inverted);
}
.page-explore .context .column-objects > div.selected .adjectives {
  color: var(--color-light-gray);
}
.page-explore .context .column-objects > div.selected .adjectives .yes {
  color: var(--color-light-green);
}
.page-explore .context .column-objects > div.selected .adjectives .no {
  color: var(--color-light-red);
}
.page-explore .context .column-objects > div .type,
.page-explore .context .column-objects > div .id {
  display: none;
}
.page-explore .context .column-objects > div .adjectives {
  color: var(--color-gray);
  padding-left: 8px;
}
.page-explore .context .column-objects > div .adjectives .yes {
  color: var(--color-green);
}
.page-explore .context .column-objects > div .adjectives .no {
  color: var(--color-red);
}
.page-explore .context .column-objects > div .adjectives .no::before {
  content: "not ";
}
.page-explore .context .column-objects > div .adjectives:not(:empty)::after {
  content: ")";
}
.page-explore .context .column-objects > div .adjectives:not(:empty)::before {
  content: "(";
}
.page-explore .results p {
  padding: 0px 4px;
}
.page-explore .results .table-scroll-wrapper {
  padding: 0px 4px;
  overflow-x: scroll;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../img/cross.png") url("../img/check.png");
}

.page-theorem p.statement:not(:empty)::before {
  content: "Statement: ";
  font-weight: bold;
}
.page-theorem p.description:not(:empty)::before {
  content: "Description: ";
  font-weight: bold;
}

.page-data input[type=text] {
  width: 100%;
  padding: 0px 40px;
  line-height: 40px;
  box-sizing: border-box;
}
.page-data .search-bar {
  position: relative;
  margin: 16px 0px;
}
.page-data .search-bar::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 40px;
  height: 40px;
  background-image: url("../img/search.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: var(--filter-invert-dark-theme);
}
.page-data .progress {
  float: right;
  color: var(--color-gray);
}
.page-data .progress::before {
  content: "(";
}
.page-data .progress::after {
  content: ")";
}

.page-graph {
  max-width: unset !important;
}
.page-graph .graph {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
.page-graph .graph .layer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.page-graph .graph .layer > div {
  border: var(--border-input);
  border-radius: 4px;
  padding: 8px 12px;
  background-color: color-mix(in srgb, var(--color-background) 75%, rgba(127, 127, 127, 0));
}
.page-graph .graph .arrow {
  z-index: -1;
  --color: var(--color-gray);
  position: absolute;
  height: 0px;
  border-top: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}
.page-graph .graph .arrow::after {
  --size: 6px;
  content: "";
  display: block;
  border-top: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  border-right: var(--size) solid var(--color);
  width: 0px;
  height: 0px;
  position: relative;
  bottom: var(--size);
  right: 2px;
  transform: scaleX(2);
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

nav {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-input);
  border-bottom: var(--border-input);
  background-color: var(--color-nav-background);
}
nav button {
  display: block;
  flex-grow: 1;
  max-width: 128px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-text);
  text-align: center;
  height: 100%;
  line-height: 100%;
  padding: 0px 8px;
}
nav button:hover {
  background-color: transparent;
}
nav button.selected {
  background-color: var(--color-blue);
  color: var(--color-text-inverted);
}
nav #button-theme {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-image: var(--background-image-theme);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 0.25;
  transition: opacity 0.2s;
  cursor: pointer;
}
nav #button-theme:hover {
  opacity: 0.67;
}

#button-home {
  max-width: 48px;
  padding: 0px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url("../img/icon.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12));
}
#button-home.selected {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.24));
}

.page {
  margin: auto;
  max-width: 960px;
  padding: 0px 4px;
  margin-bottom: 16px;
}

.page-home p,
.page-home ul,
.page-home ol,
.page-help p,
.page-help ul,
.page-help ol,
.page-contribute p,
.page-contribute ul,
.page-contribute ol {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-footer-background);
  opacity: 0.4;
  text-align: center;
}
footer div {
  padding: 12px;
  line-height: 24px;
}
footer div > span {
  display: inline-block;
  white-space: nowrap;
}
footer a {
  color: currentcolor;
}
footer img {
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 2px;
  filter: var(--filter-invert-dark-theme);
}

/*# sourceMappingURL=index.css.map */
